@model CompanyManagement.Models.SupplierViewModel
@{
    ViewBag.Title = "Add Suppliers";
}

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#AddModal">
    Add Supplier
</button>

<div class="modal fade" id="AddModal" tabindex="1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3>ADD CUSTOMER</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("_AddSupplier"))
                {
                    @Html.ValidationSummary(true)
                    <dl class="dl-horizontal">
                        <div class="form-group">
                            <dt>@Html.LabelFor(model => model.Name, new { @class = "control-label col-xs-3" })</dt>
                            <dd>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </dd>
                        </div>
                        <div class="form-group">
                            <dt>@Html.LabelFor(model => model.Phone, new { @class = "control-label col-xs-3" })</dt>
                            <dd>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone)
                            </dd>
                        </div>
                        <div class="form-group">
                            <dt>@Html.LabelFor(model => model.Email, new { @class = "control-label col-xs-3" })</dt>
                            <dd>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </dd>
                        </div>
                        <div class="form-group">
                            <dt>@Html.LabelFor(model => model.Address, new { @class = "control-label col-xs-3" })</dt>
                            <dd>
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </dd>
                        </div>
                    </dl>
                    <div class="modal-footer">
                        <div class="form-actions no-color">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


